{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "env": {
    "es6": true,
    "mocha": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-console": 0,
    "semi": "off",
    "quotes": ["error", "single"]
  }
}
