.boolean {
  display: flex;
  align-items: center;
}

.boolean__switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all .3s cubic-bezier(.35,0,.25,1);
}

.boolean__switch--checked {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.boolean__switch-inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
}

.boolean__switch--checked .boolean__switch-inner {
  left: 6px;
}

.boolean__switch:after {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: "";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  transform: scale(1);
}

.boolean__switch--checked:after {
  left: 22px;
}

.boolean__switch-label {
  margin-left: 10px;
}

.boolean__switch-label span {
  text-transform: capitalize;
}
