.code-section {
  margin-bottom: 1rem;
}

.CodeMirror {
  border: 1px solid #f0f0f0;
  margin-bottom: 1rem;
}

.error-message {
  line-height: 1.2;
  margin-top: .375rem;
  font-size: .75rem;
  color: var(--danger-color);
  margin-top: var(--spacing-default);
}

.input--error,
.input--error[disabled][disabled],
.input--error:focus {
  border-color: var(--danger-color);
}
